<app-navbar></app-navbar>
<app-whatsapp></app-whatsapp>
<div class="imagem-fundo">
    <img src="assets/fundon.jpg" alt="">
    <div class="texto">
        <h1>Sobre Nós</h1>
        <p>Somos uma empresa situada no estado de Santa Catarina, especializada na fabricação de móveis planejados de alto padrão. <br>Nosso foco está em oferecer soluções personalizadas para residências e estabelecimentos comerciais, unindo funcionalidade, design sofisticado e atenção aos mínimos detalhes. Cada peça é projetada para refletir a personalidade e as necessidades de nossos clientes, garantindo ambientes únicos e acolhedores.</p>
    </div>
</div>
<app-footer></app-footer>